<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536790994259-qeuh9i21i3vgdvuh5d8fh29d62n1op9c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536790994259-qeuh9i21i3vgdvuh5d8fh29d62n1op9c</string>
	<key>API_KEY</key>
	<string>AIzaSyCM_6bPIbuiXwaHXUiT7Vfuo16YzNtsrhg</string>
	<key>GCM_SENDER_ID</key>
	<string>536790994259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brewCrew</string>
	<key>PROJECT_ID</key>
	<string>ninja-brew-crew-4b368</string>
	<key>STORAGE_BUCKET</key>
	<string>ninja-brew-crew-4b368.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536790994259:ios:410eb1f3c203bdbf0b65a6</string>
	<key>DATABASE_URL</key>
	<string>https://ninja-brew-crew-4b368-default-rtdb.firebaseio.com</string>
</dict>
</plist>